* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 300px;
    height: 80vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(191, 191, 191);
}

section .qr_code {
    border-radius: 15px;
    width: 280px;
    height: 280px;
    margin: 10px auto;
}

.qr_code img {
    width: 280px;
    border-radius: 15px;
}

.content {
    margin-top: 25px;
}

.content .title {
    width: 270px;
    margin: 0 auto;
}

.content .title h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.content .text {
    margin: 20px auto;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

.content .text p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}


